<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 
    <appSettings>
     <add key="ConnectionString" value="Server=josh-vm;User=bizpower_pegasus_user;Password=cyber;database=bizpower_pegasus_test;Min Pool Size=50;Max Pool Size=500;Connect Timeout=20000" />
        <add key="ConnectionStringS" value="Server=josh-vm;User=pegasus_user;Password=cyber;database=pegasus_test;Min Pool Size=50;Max Pool Size=500;Connect Timeout=20000" />
        <add key="name_connect_dll" value="netReply.udl" />
        <add key="font_face" value="arial" />
        <add key="pxpt" value="pt" />
        <add key="PageWidth" value="610" />
        <add key="smtp_server" value="jack" />
        <add key="PegasusUrl" value="http://192.168.0.92/pegasusnew_mila" />
       <add key="PegasusFeedbackUrl" value="http://192.168.0.92/pegasusnew" />
        <add key="T_URL" value="http://b2b-pegasusuat.travelbooster.com/UI_NET/XmlServerApi.aspx"></add>
        <add key="T_oem" value="G4I_B2B"></add>
        <add key="T_agentID" value="XML"></add>
        <add key="T_password" value="cyber@xml1"></add>
        <add key="T_xmlVersion" value="10"></add>
          <add key="smtp_server" value="localhost"></add>
        
    <add key="BizpowerDBName" value="bizpower_pegasus_test" />
    <add key="PegasusSiteDBName" value="pegasus_test" />
<add key="PegasusServicesUrl" value="http://pegasusservicesfaina.bizpower.co.il" />

    </appSettings>
 

  <system.web>
    <sessionState cookieless="false" mode="InProc" regenerateExpiredSessionId="false" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" stateConnectionString="tcpip=127.0.0.1:42424" timeout="1" />
  
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <!--httpRuntime requestValidationMode="2.0" maxUrlLength="560" maxQueryStringLength="25000" /-->
      <httpRuntime requestValidationMode="2.0" maxUrlLength="560" maxQueryStringLength="25000" executionTimeout="900000" maxRequestLength="2097151" />

      <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="404.aspx">
      <error statusCode="500" redirect="404.aspx" />
      <error statusCode="404" redirect="404.aspx" />
      <error statusCode="400" redirect="404.aspx" />
      <error statusCode="401" redirect="404.aspx" />
      <error statusCode="403" redirect="404.aspx" />
      <error statusCode="408" redirect="404.aspx" />
      <error statusCode="503" redirect="404.aspx" />
    </customErrors>
 <globalization requestEncoding="windows-1255" responseEncoding="windows-1255" />
    <authentication mode="Windows" />
    
  </system.web>

  <system.webServer>
  
     <modules runAllManagedModulesForAllRequests="true" />
    
    <caching>
      <profiles>
     
        <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00.12:00:00" />
        <add extension=".swf" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00.12:00:00" />
        <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00.12:00:00" />
        <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00.12:00:00" />
        <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00.12:00:00" />
        <add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="DontCache" duration="00.12:00:00" />
      </profiles>
    </caching>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
